<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Dyh.io</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" routerLink="/welcome">About</a>
        <a class="nav-link" routerLink="/pres">Home</a>
        <a class="nav-link" routerLink="/surveytest">Survey</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>