<div class="main" style="display:inline;">
    <main role="main" class="inner cover">
        <h1 class="cover-heading" style="text-align:center;">
          <b style="color: orange">Dyh.io</b> is a <b style="color: orange">maturity</b> evaluation tool for your ERP
        </h1>
        <hr style="border-color: silver">
        <p class="lead" style="text-align:center;">This is the most wanted App for ERP made by Dyhia herself. Just respond to few questions to know the maturity of your
          ERP </p>
        <p class="lead" style="text-align:center;">
          <a href="#" class="btn btn-lg btn-secondary" style="text-align:center;">Know more !</a>
          <a href="#" class="btn btn-lg btn-secondary" style="text-align:center;">Begin !</a>
        </p>
      </main>
    </div>