

<div class="main" style="display:inline;">
    <main role="main" class="inner cover" style="padding-top:45%;">
        <h1 class="cover-heading" style="text-align:center;">
          <b style="color: orange">App.io</b> is a <b style="color: orange">maturity</b> evaluation tool for your ERP
        </h1>
        <hr style="border-color: silver">
        <p class="lead" style="text-align:center;">Just respond to a few questions to know the maturity of your
          ERP </p>
        <p class="lead" style="text-align:center;">
          <a href="/pres" class="btn btn-lg btn-secondary" style="text-align:center;">Know more !</a>
          <a href="/surveytest" class="btn btn-lg btn-secondary" style="text-align:center;">Begin !</a>
        </p>
      </main>
    </div>